/* FONTS */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway-semibold";
  src: url("../fonts/Raleway/Raleway-SemiBold.ttf");
}
@font-face {
  font-family: "Raleway-bold";
  src: url("../fonts/Raleway/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica/HelveticaNeue.ttf");
}
@font-face {
  font-family: "Helvetica-bold";
  src: url("../fonts/Helvetica/Helvetica\ Neu\ Bold.ttf");
}
@font-face {
  font-family: "Helvetica-thin";
  src: url("../fonts/Helvetica/HelveticaNeue\ Thin.ttf");
}
@font-face {
  font-family: "Helvetica-light";
  src: url("../fonts/Helvetica/HelveticaNeue\ Light.ttf");
}


/* ANIMATIONS */
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes flipInX {
  from {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
  }
  40% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }
  80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(5deg);
  }
  to {
    opacity: 1;
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
@keyframes popDown {
  0% {
    transform: translateY(-100px);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* STYLE */
a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #fff;
  font-family: "Helvetica-thin";
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  overflow-x: hidden;
  text-align: center;
}

#preload {
  display: none;
}

.page-link {
  cursor: pointer;
}

.disable-hover {
  pointer-events: none;
}

.overflow-wrap {
  overflow-x: hidden;
}

.canvas {
  background: url("/img/statue.jpg") right top/cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
}

.button {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  /* background-color: #000; */
  /* border: 1px solid #fff; */
  border-radius: 10px;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 16pt;
  padding: 10px 20px;
  transition: all 0.5s;
}
.button:hover {
  /* background-color: #04c2c9; */
  transform: scale(0.9);
}
.button .fa {
  vertical-align: middle;
}

.bold {
  font-family: "Helvetica-thin";
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex.row {
  flex-direction: row;
}

.highlight {
  color: #04c2c9;
}

.header {
  color: #444649;
  font-family: "Helvetica-thin";
  font-size: 25pt;
  position: relative;
  position: relative;
}

.header-bar {
  background: #444649;
  height: 4px;
  margin: 25px 0 75px 0;
  width: 70px;
}

.resume {
  background: #455261;
  height: 100px;
}

nav {
  bottom: 0;
  left: 0;
  position: absolute;
  background: #04c2c9;
  border-bottom: 2px solid #fff;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
}
nav.fixed {
  bottom: inherit;
  left: 0;
  position: fixed;
  top: 0;
}
nav.fixed.desk {
  animation: popDown 0.5s;
}
nav .link-wrap {
  background: #333;
  height: 0;
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 53px;
  transition: height 0.3s ease-out;
  width: 100%;
}
nav .link-wrap.visible {
  height: 180px;
}
nav .link-wrap div {
  cursor: pointer;
  font-size: 12pt;
  font-family: "Helvetica-light";
  padding: 12px 20px;
  text-transform: uppercase;
  transition: color 0.5s;
}
nav .link-wrap div:first-child {
  padding: 25px 20px 12px 20px;
}
nav .link-wrap div:hover {
  color: #000;
}
nav .fa-bars {
  font-size: 30pt;
  line-height: 36pt;
  margin: auto 0;
  position: absolute;
  right: 5vw;
  top: 0;
}
nav .active {
  color: #000;
}

.transition {
  transition: 0.7s;
}

section {
  color: #616161;
  line-height: 11pt;
  padding: 70px 0 70px 0;
  position: relative;
}
section .container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}
section:nth-of-type(1) {
  color: #fff;
  height: calc(100vh + 53px);
  padding: 0 10px;
}
section:nth-of-type(1) .highlight {
  font-family: "Helvetica-light";
}
section:nth-of-type(1) .text {
  background: #000;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  left: 50%;
  font-size: 16pt;
  text-align: right;
  line-height: 20pt;
  margin: 0 0 20px 0;
  pointer-events: none;
  z-index: 1;
}
section:nth-of-type(1) .button {
  position: relative;
}
section:nth-of-type(1) .button .fa {
  transition: transform 0.3s;
}
section:nth-of-type(1) .button:hover .fa {
  transform: rotate(90deg);
}
section:nth-of-type(2) {
  background: #ffffff;
}
section:nth-of-type(3) {
  background: #f5f5f5;
}
section:nth-of-type(4) {
  background: #252934;
  color: #fff;
  padding-top: 175px;
}
section:nth-of-type(4) .header {
  color: #fff;
}
section:nth-of-type(4) .header-bar {
  background: #fff;
  margin: 25px 0 40px 0;
  width: 110px;
}
section:nth-of-type(4) .highlight {
  color: #04c2c9;
  font-weight: 600;
}
section:nth-of-type(4) form {
  margin: 40px auto 0 auto;
  min-width: 95%;
}
section:nth-of-type(4) input[type=text],
section:nth-of-type(4) input[type=email],
section:nth-of-type(4) textarea {
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  font-family: "Helvetica-light";
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
section:nth-of-type(4) textarea {
  margin-bottom: 5px;
  min-height: 150px;
}
section:nth-of-type(4) .button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  float: right;
  font-size: 12pt;
  font-family: "Helvetica-light";
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
}
section:nth-of-type(4) .button:hover {
  background: #04c2c9;
}
section:nth-of-type(4) #success {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.25s;
  width: 100%;
}
section:nth-of-type(4) #success.expand {
  height: 36px;
}
section:nth-of-type(4) #success div {
  background: #04c986;
  border: 1px solid #157c59;
  color: #157051;
  font-size: 10pt;
  font-weight: 600;
  padding: 5px 0;
}
section:nth-of-type(4) #close {
  cursor: pointer;
  font-size: 12pt;
  font-weight: 600;
  padding: 5px 15px;
  position: absolute;
  right: 0;
}

footer {
  background: #1b242f;
  padding: 70px 0 50px 0;
  position: relative;
}
footer .fa-angle-double-up {
  background: #04c2c9;
  cursor: pointer;
  font-size: 30pt;
  height: 50px;
  left: 0;
  line-height: 40pt;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -25px;
  transition: background 0.5s;
  width: 47px;
  border-radius: 15px;
}
footer .fa-angle-double-up:hover {
  background: #04c2c9;
}
footer .icon-wrap .icon {
  background: #262f38;
  cursor: pointer;
  font-size: 18pt;
  height: 55px;
  margin: 0 15px;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: background 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;
  width: 55px;
  border-radius: 15px;
}
footer .icon-wrap .fa {
  color: #fff;
  text-align: center;
}
footer .icon-wrap .icon:hover {
  background: #04c2c9;
  box-shadow: 0 0 0 3px #1b242f;
  transform: scale(0.9);
}
footer .icon-wrap .icon:hover .fa {
  color: #fff;
}
footer .footnote {
  color: #8f9aa7;
  font-size: 10pt;
  font-family: "Raleway";
  margin-top: 35px;
  opacity: 0.9;
}
footer .footnote .highlight {
  color: #fff;
  font-family: "Helvetica-bold";
}

@media screen and (max-width: 400px) {
  nav {
    opacity: 0.9;
  }
}
@media screen and (min-width: 600px) {
  body {
    font-size: 12pt;
  }

  .container {
    padding: 0 20px;
  }

  .header {
    font-size: 30pt;
  }

  .header-bar {
    margin: 25px 0 100px 0;
  }

  .hex-wrap {
    height: 100px;
    width: 100px;
  }

  nav .link-wrap {
    background: none;
    height: initial;
    overflow: visible;
    position: initial;
    text-align: left;
  }
  nav .link-wrap.visible {
    height: initial;
  }
  nav .link-wrap div {
    display: inline;
    font-size: initial;
    margin: 0 20px;
    padding: initial;
  }
  nav .link-wrap div:first-child {
    padding: 0;
  }
  nav .bar {
    display: none;
  }

  section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
  }
  section .container {
    padding: 0 10px;
  }
  section:nth-of-type(1) .text {
    font-size: 32pt;
    line-height: 36pt;
  }
  section:nth-of-type(1) .button {
    padding: 12px 20px 12px 20px;
  }
  section:nth-of-type(4) {
    padding: 130px 0 180px 0;
  }
  section:nth-of-type(4) .text {
    font-size: 11pt;
    line-height: 15pt;
  }
  section:nth-of-type(5) form {
    min-width: 500px;
  }
}
@media screen and (min-width: 960px) {
  .waypoint {
    opacity: 0;
  }

  .animated.slide-up {
    animation: slideUp 0.75s ease both;
  }
  .animated.slide-down {
    animation: slideDown 0.75s ease both;
  }
  .animated.slide-in-left {
    animation: slideInLeft 0.75s ease both;
  }
  .animated.slide-in-right {
    animation: slideInRight 0.75s ease both;
  }
  .animated.flip-in-x {
    animation: flipInX 0.75s ease both;
  }
  .animated.fade-in {
    animation: fadeIn 0.75s ease both;
  }
  .animated.pop-in {
    animation: popIn 1s both;
  }

  .button {
    font-size: 16pt;
  }
}

@media screen and (min-width: 1280px) {
  /* add specifications here */
}
