.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF;
    height: 40px;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.logoLink {
    text-decoration: none;
    color: #7D7D7D;
    font-family: Helvetica, sans-serif;
    font-size: 8px;
    font-weight: bold;
}

.spacer {
    width: .5px;
    height: 20px;
    background-color: #E3E3E3;
    margin-left: 20px;
    margin-right: 20px;
}

.shortSpacer {
    width: .6px;
    height: 10px;
    background-color: #E3E3E3;
    margin-left: 10px;
    margin-right: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: #7D7D7D;
    font-family: Helvetica, sans-serif;
    font-size: 7px;
    font-weight: lighter;
}

.navLink:hover {
    color: #000;
}